<footer>
	<hr />
	<p><strong>Copyright &copy; <%= Time.now.year %> Project 8q2y.com</strong></p>
	<p>
		<% [:zh, :en].each do |key| %>
	      <% if I18n.locale == key %>
	        <span class="current"><%= User::AVAILABLE_LANGUAGES[key] %></span>
	      <% else %>
	        <%= link_to User::AVAILABLE_LANGUAGES[key], "?locale=#{key.to_s}", :class => :action %>
	      <% end %>
	    <% end %>
	</p>				
	<!--
	<p>Theme by <a href="http://www.medialoot.com">MediaLoot</a></p>
  -->
</footer>
